.acservice{
  &__container{

  }
  &__list{

  }
  &__item{
    padding: 32px 0;
    border-bottom: 1px solid #000125;
    margin-bottom: 23px;
    @media all and (max-width: 1920px){
      padding: 32vw * $px 0;
      margin-bottom: 23vw * $px;
    }
    &:last-child{
      margin-bottom: 82px;
      @media all and (max-width: 1920px){
        margin-bottom: 82vw * $px;
      }
    }
    &-title{
      display: flex;
      align-items: center;
      color: #15223D;
      font-size: 48px;
      font-weight: 400;
      line-height: 135%;
      cursor: pointer;
      @media all and (max-width: 1920px){
        font-size: 48vw * $px;
      }
      svg{
        margin-left: auto;
        width: 26px;
        height: 26px;
        @media all and (max-width: 1920px){
          width: 26vw * $px;
          height: 26vw * $px;
        }
      }
    }
    &.active{
      border-bottom: none;
      padding-bottom: 0;
      .acservice__item-content{
        display: block;
      }
      svg{
        transform: rotate(45deg);
      }
    }
    &-counter{
      color: #A9A9A9;
      font-size: 24px;
      font-weight: 400;
      line-height: 135%;
      letter-spacing: 0.48px;
      width: 35px;
      margin-right: 15px;
      @media all and (max-width: 1920px){
        margin-right: 15vw * $px;
        width: 35vw * $px;
        font-size: 24vw * $px;
      }
    }
    &-content{
      display: none;
      padding-top: 76px;
      @media all and (max-width: 1920px){
        padding-top: 76vw * $px;
      }
      h3{
        color: #15223D;
        font-size: 32px;
        font-weight: 500;
        line-height: 135%;
        letter-spacing: 0.64px;
        margin-bottom: 24px;
        @media all and (max-width: 1920px){
          font-size: 32vw * $px;
          margin-bottom: 24vw * $px;
        }
      }
      P{
        color: #15223D;
        font-size: 24px;
        font-weight: 400;
        line-height: 135%;
        letter-spacing: 0.48px;
        @media all and (max-width: 1920px){
          font-size: 24vw * $px;
        }
      }
      &-grid{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        @media all and (max-width: 1920px){
          grid-column-gap: 40vw * $px;
          grid-row-gap: 40vw * $px;
        }
        div{
          border-radius: 20px;
          @media all and (max-width: 1920px){
            border-radius: 20vw * $px;
          }
          overflow: hidden;
          img{
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        div:nth-child(1) { grid-area: 1 / 1 / 5 / 3; }
        div:nth-child(2) { grid-area: 1 / 3 / 5 / 6; }
        div:nth-child(3) { grid-area: 1 / 6 / 4 / 9; }
        div:nth-child(4) { grid-area: 5 / 1 / 7 / 6; }
        div:nth-child(5) { grid-area: 4 / 6 / 7 / 9; }
      }
    }
  }
}