.page-template-home, .page-template-cosmetology{
  .banner-main{
    .banner__left{
      @media all and (max-width: 500px){
        background-color: rgba(255,255,255,0.3);
        padding: 20px;
      }
    }
  }
}
.page-template-vacancy{
  .banner{
    .banner__logo{
      img{

      }
    }
  }
}
.page-template-implant{
  .banner-dark.white{
    .banner-dark__img{
      width: 100%;
    }
  }
}
body.home .banner__left{
  @media all and (max-width: 500px){
    padding-top: 20px;
    padding-bottom: 16vh;
    .banner__small-text{
      margin-bottom: auto;
    }
  }

}
.banner{
  &.new-banner{
    .banner__right .swiper-wrapper{
      height: 80vh;
      @media all and (max-width: 1440px){
        height: 75vh;
      }
      @media all and (max-width: 1024px){
        height: calc(100vh - 60px);
      }
    }
    .banner__left{
      @media all and (min-width: 1025px){
        padding-bottom: 10vh;
        width: 62%;
        margin-right: -12%;
        position: relative;
        z-index: 2;
      }
      .new-banner__logo{
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        @media all and (max-width: 1024px){
          display: none;
        }
        img{
          max-height: 12vh;
          @media all and (max-width: 1440px){
            width: 400px;
          }
        }
      }
    }
    .banner__right{

    }
    .banner__title{
      font-weight: 700;
      font-size: 70px;
      margin-bottom: 42px;
      @media all and (max-width: 1800px){
        font-size: 60px;
      }
      @media all and (max-width: 1500px){
        font-size: 50px;
      }
      @media all and (max-width: 1100px){
        font-size: 40px;
      }
      @media all and (max-width: 500px){
        font-size: 28px;
      }
      @media all and (max-width: 380px){
        font-size: 26px;
      }
      @media all and (max-width: 360px){
        font-size: 22px;
      }
    }
    .new-banner__subtitle{
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 42px;
      @media all and (max-width: 1024px){
        text-align: center;
      }
      @media all and (max-width: 500px){
        font-size: 20px;
      }
      @media all and (max-width: 360px){
        font-size: 18px;
      }
    }
    .banner__right .swiper-slide img{
      object-position: right center;
    }
  }
  &__service{
    .banner__left{
      @media all and (max-width: 1024px){
        background-color: rgba(132,84,114,.4);
      }
      @media all and (max-width: 500px){
        padding-bottom: 20px;
      }
      svg{
        @media all and (max-width: 500px){
          margin-top: 0;
        }
      }
    }
    .banner__title{
      @media all and (max-width: 500px){
        br{
          display: none;
        }
      }
    }
    .banner__right .swiper-wrapper{
      @media all and (max-width: 390px){
        height: calc(100vh - 60px);
      }
    }
    video{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @media all and (max-width: 1440px){
      font-size: 30px;
    }
  }
  &__logo{
    position: absolute;
    width: 100%;
    bottom: 123px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    img{
      max-height: 15vh;
    }
    @media all and (max-width: 1800px){
      bottom: 75px;
    }
    @media all and (max-width: 1600px){
      bottom: 40px;
    }
    @media all and (max-width: 1024px){
      bottom: auto;
      top: 6vw;
      right: 6vw;
      width: auto;
    }
    img{
      @media all and (max-width: 1800px){
        width: 40vw;
      }
      @media all and (max-width: 1024px){
        width: 30vw;
      }
    }
  }
  &__about{
    height: calc(100vh - 60px);
    overflow: hidden;
    .banner__container{
      height: 100%;
      @media all and (max-width: 500px){
        height: calc(100vh - 60px);
      }
    }
    .banner__small-text{
      font-size: 24px;
      //text-transform: uppercase;
      margin-bottom: 37px;
      strong{
        font-weight: bolder;
      }
      @media all and (max-width: 500px){
        font-size: 16px;
        text-align: left;
        width: 100%;
        margin-top: 14px;
        margin-bottom: 0;
      }
    }
    .banner__logo{
      bottom: 0;
      display: flex;
      flex-direction: column;
      @media all and (max-width: 1024px){
        top: auto;
        bottom: 0;
        width: 100%;
      }
      @media all and (max-width: 500px){
        right: 0;
        padding-left: 0;
        padding: 0 20px;
        img{
          width: 100%;
        }
      }
      .button{
        margin-top: 40px;
        @media all and (max-width: 1024px){
          display: none;
        }
      }
    }
    &-title{
      margin-bottom: 38px;
      @media all and (max-width: 1024px){
        width: 50vw;
      }
    }
    .banner__title{
      color: #15223D;
      font-size: 70px;
      font-weight: 700;
      line-height: 123.8%;
      letter-spacing: 0.48px;
      text-transform: none;
      @media all and (max-width: 1440px){
        font-size: 60px;
      }
      @media all and (max-width: 1024px){
        font-size: 40px;
      }
      @media all and (max-width: 768px){
        font-size: 34px;
      }
      @media all and (max-width: 500px){
        font-size: 22px;
        margin-bottom: 0;
        text-align: left;
        width: 100%;
      }
    }
    .banner__subtitle{
      color: #000125;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 123.8%;
      letter-spacing: 0.48px;
      text-transform: uppercase;
    }
    .banner__right{
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: auto;
      @media all and (max-width: 768px){
        width: 100%;
      }
      @media all and (max-width: 768px){
        height: 100%;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .banner__left{
      //padding-bottom: 40vh;
      position: relative;
      z-index: 1;
      height: 100%;
      width: 80%;
      .banner__button{
        //display: none;
        @media all and (max-width: 1024px){
          display: flex;
        }
        @media all and (max-width: 500px){
          margin-top: 20px;
          width: 100%;
          a{
            padding: 20px 10px;
            width: 100%;
          }
        }
      }
      @media all and (max-width: 1024px){
        padding-bottom: 40px;
        padding-top: 40px;
        width: 100%;
        background-color: transparent;
      }
      @media all and (max-width: 500px){
        padding-bottom: 20px;
        padding-top: 30vh;
      }
    }
  }
  &__title{
    color: #15223D;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.8%;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-bottom: 37px;
    text-align: left;
    @media all and (max-width: 1440px){
      font-size: 30px;
    }
    @media all and (max-width: 1200px){
      font-size: 26px;
    }
    @media all and (max-width: 1024px){
      color: #15223D;
      margin-bottom: 20px;
      text-align: center;
      font-size: 14px;
      text-transform: none;
    }
    &-temp{
      @media all and (max-width: 500px){
        font-size: 18px;
      }
    }
  }
  &__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media all and (max-width: 1024px){
      width: 100%;
      position: absolute;
      z-index: 2;
      height: auto;
      bottom: 0;
      align-items: center;
      //padding: 20px 20px 70px 20px;
      padding: 20px 20px 40px 20px;
      background-color: rgba(132,84,114, 0.3);
    }
    @media all and (max-width: 500px){
      padding-top: 12px;
      padding-bottom: 0;
      background-color: transparent;
    }
    svg{
      margin-bottom: 25px;
      @media all and (max-width: 1200px){
        max-width: 40vw;
        height: auto;
        margin: 20px 0;
      }
      @media all and (max-width: 1024px){
        path{
          fill: #FFFFFF;
        }
      }
      @media all and (max-width: 500px){
        max-width: 60vw;
        margin-top: 0;
        path{
          fill: #15223D;
        }
      }
    }
  }
  &__subtitle{
    width: 100%;
    max-width: 570px;
    @media all and (max-width: 1440px){
      max-width: none;
      padding-right: 35px;
    }
    @media all and (max-width: 1024px){
      padding-right: 0;
    }
  }
  &__prices{
    margin-top: 48px;
    @media all and (max-width: 1440px){
      margin-top: 0;
    }
    &-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      @media all and (max-width: 1440px){
        margin-bottom: 20px;
      }
      @media all and (max-width: 500px){
        margin-bottom: 10px;
      }
      &:last-child{
        margin-bottom: 0;
      }
      p{
        color: #15223D;
        font-size: 20px;
        font-weight: 500;
        line-height: 98.3%;
        letter-spacing: 0.4px;
        margin-bottom: 0;
        padding-right: 20px;
        @media all and (max-width: 1024px){
          color: #FFFFFF;
        }
        @media all and (max-width: 500px){
          font-size: 16px;
        }
        @media all and (max-width: 500px){
          font-size: 14px;
        }
      }
      span{
        color: #845472;
        font-size: 24px;
        font-weight: 600;
        line-height: 98.3%;
        letter-spacing: 0.48px;
        text-align: right;
        white-space: nowrap;
        @media all and (max-width: 1024px){
          color: #FFFFFF;
        }
        @media all and (max-width: 500px){
          font-size: 18px;
        }
        @media all and (max-width: 500px){
          font-size: 16px;
        }
      }
    }
  }
  &__right{
    width: 50%;
    padding-left: 15px;
    position: relative;
    overflow: hidden;
    @media all and (max-width: 1024px){
      width: 100%;
      padding-left: 0;
    }
    .swiper-container{
      height: 100%;
    }
    .swiper-wrapper{
      height: 884px;
      max-height: 100vh;
      @media all and (max-width: 1440px){
        height: 600px;
      }
      @media all and (max-width: 1024px){
        height: calc(100vh - 60px);
      }
      @media all and (max-width: 768px){

      }
    }
    .swiper-slide{
      height: 100%;
      position: relative;
      &__about{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 40px 40px 80px 40px;
        background-color: rgba(132,84,114,.3);
        @media all and (max-width: 1024px){
          background-color: transparent;
          top: 0;
          right: 0;
          bottom: auto;
          left: auto;
          text-align: right;
        }
        @media all and (max-width: 768px){

        }
        @media all and (max-width: 500px){
          padding: 20px;
        }
      }
      &__title{
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 6px;
        color: #FFFFFF;
        text-transform: uppercase;
        @media all and (max-width: 1024px){
          color: #845472;
        }
        @media all and (max-width: 500px){
          font-size: 32px;
        }
      }
      &__old{
        text-decoration: line-through;
        font-size: 24px;
        margin-bottom: 10px;
        color: #FFFFFF;
        @media all and (max-width: 1024px){
          color: #845472;
        }
      }
      &__current{
        color: #FFFFFF;
        font-size: 32px;
        display: inline-block;
        padding: 20px;
        border: 2px solid #FFFFFF;
        @media all and (max-width: 1024px){
          color: #845472;
          border: 2px solid #845472;
          background-color: #FFFFFF;
        }
        @media all and (max-width: 500px){
          font-size: 22px;
          padding: 10px;
        }
      }
      img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__nav{
    position: absolute;
    bottom: 30px;
    left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    @media all and (max-width: 1024px){
      left: 0;
      width: 100%;
      display: none;
    }
    .banner__next, .banner__prev{
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }
    .swiper-pagination{
      display: flex;
      align-items: center;
      position: static;
      margin: 0 28px;
      @media all and (max-width: 1024px){
        width: auto;
      }
      &-bullet{
        background-color: rgba(255,255,255,0.5);
        margin-right: 15px;
        &:last-child{
          margin-right: 0;
        }
        &-acvtive{
          background-color: rgba(255,255,255,1);
        }
      }
    }
  }
  &__buttons{
    @media all and (max-width: 500px){
      width: 100%;
    }
    .button{
      display: inline-flex;
      @media all and (max-width: 500px){
        width: 100%;
      }
    }
  }
}
body{
  &.home{
    .banner{
      &__left{
        @media all and (max-width: 500px){
          position: static;
        }
      }
      &__container{
        @media all and (max-width: 500px){
          flex-direction: column-reverse;
        }
      }
      &__right{
        .swiper-wrapper{
          @media all and (max-width: 500px){
            height: 340px;
          }
        }
      }
    }
  }
}