.banner{
  &__service{
    .banner__left{
      background-color: rgba(132,84,114,.4);
      @media all and (max-width: 500px){
        padding-bottom: 20px;
      }
      svg{
        @media all and (max-width: 500px){
          margin-top: 0;
        }
      }
    }
    .banner__title{
      @media all and (max-width: 500px){
        br{
          display: none;
        }
      }
    }
    .banner__right .swiper-wrapper{
      @media all and (max-width: 390px){
        height: calc(100vh - 60px);
      }
    }
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @media all and (max-width: 1440px){
      font-size: 30px;
    }
  }
  &__logo{
    position: absolute;
    width: 100%;
    bottom: 123px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    @media all and (max-width: 1800px){
      bottom: 75px;
    }
    @media all and (max-width: 1600px){
      bottom: 40px;
    }
    @media all and (max-width: 1024px){
      bottom: auto;
      top: 6vw;
      right: 6vw;
      width: auto;
    }
    img{
      @media all and (max-width: 1800px){
        width: 40vw;
      }
      @media all and (max-width: 1024px){
        width: 30vw;
      }
    }
  }
  &__about{
    &-title{
      margin-bottom: 38px;
      @media all and (max-width: 1024px){
        width: 50vw;
      }
    }
    .banner__title{
      color: #15223D;
      font-size: 24px;
      font-weight: 500;
      line-height: 123.8%;
      letter-spacing: 0.48px;
      text-transform: none;
      @media all and (max-width: 1440px){

      }
      @media all and (max-width: 500px){
        font-size: 20px;
        margin-bottom: 0;
      }
    }
    .banner__right{
      @media all and (max-width: 768px){
        height: 120vw;
      }
      img{
        width: 100%;
        height: auto;
        @media all and (max-width: 768px){
          object-fit: cover;
          height: 100%;
        }
      }
    }
    .banner__left{
      padding-bottom: 250px;
      @media all and (max-width: 1024px){
        padding-bottom: 40px;
        padding-top: 40px;
      }
      @media all and (max-width: 500px){
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
  }
  &__title{
    color: #15223D;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.8%;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-bottom: 37px;
    text-align: left;
    @media all and (max-width: 1440px){
      font-size: 30px;
    }
    @media all and (max-width: 1200px){
      font-size: 26px;
    }
    @media all and (max-width: 1024px){
      color: #FFFFFF;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  &__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media all and (max-width: 1024px){
      width: 100%;
      position: absolute;
      z-index: 2;
      height: auto;
      bottom: 0;
      align-items: center;
      //padding: 20px 20px 70px 20px;
      padding: 20px 20px 40px 20px;
      background-color: rgba(132,84,114, 0.3);
    }
    svg{
      margin-bottom: 25px;
      @media all and (max-width: 1200px){
        max-width: 40vw;
        height: auto;
        margin: 20px 0;
      }
      @media all and (max-width: 1024px){
        path{
          fill: #FFFFFF;
        }
      }
      @media all and (max-width: 500px){
        max-width: 60vw;
      }
    }
  }
  &__subtitle{
    width: 100%;
    max-width: 570px;
    @media all and (max-width: 1440px){
      max-width: none;
      padding-right: 35px;
    }
    @media all and (max-width: 1024px){
      padding-right: 0;
    }
  }
  &__prices{
    margin-top: 48px;
    @media all and (max-width: 1440px){
      margin-top: 0;
    }
    &-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      @media all and (max-width: 1440px){
        margin-bottom: 20px;
      }
      @media all and (max-width: 500px){
        margin-bottom: 10px;
      }
      &:last-child{
        margin-bottom: 0;
      }
      p{
        color: #15223D;
        font-size: 20px;
        font-weight: 500;
        line-height: 98.3%;
        letter-spacing: 0.4px;
        margin-bottom: 0;
        padding-right: 20px;
        @media all and (max-width: 1024px){
          color: #FFFFFF;
        }
        @media all and (max-width: 500px){
          font-size: 16px;
        }
        @media all and (max-width: 500px){
          font-size: 14px;
        }
      }
      span{
        color: #845472;
        font-size: 24px;
        font-weight: 600;
        line-height: 98.3%;
        letter-spacing: 0.48px;
        text-align: right;
        white-space: nowrap;
        @media all and (max-width: 1024px){
          color: #FFFFFF;
        }
        @media all and (max-width: 500px){
          font-size: 18px;
        }
        @media all and (max-width: 500px){
          font-size: 16px;
        }
      }
    }
  }
  &__right{
    width: 50%;
    padding-left: 15px;
    position: relative;
    overflow: hidden;
    @media all and (max-width: 1024px){
      width: 100%;
      padding-left: 0;
    }
    .swiper-container{
      height: 100%;
    }
    .swiper-wrapper{
      height: 884px;
      max-height: 100vh;
      @media all and (max-width: 1440px){
        height: 600px;
      }
      @media all and (max-width: 1024px){
        height: 80vh;
      }
      @media all and (max-width: 768px){
        height: 70vh;
      }
    }
    .swiper-slide{
      height: 100%;
      img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__nav{
    position: absolute;
    bottom: 30px;
    left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    @media all and (max-width: 1024px){
      left: 0;
      width: 100%;
      display: none;
    }
    .banner__next, .banner__prev{
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }
    .swiper-pagination{
      display: flex;
      align-items: center;
      position: static;
      margin: 0 28px;
      @media all and (max-width: 1024px){
        width: auto;
      }
      &-bullet{
        background-color: rgba(255,255,255,0.5);
        margin-right: 15px;
        &:last-child{
          margin-right: 0;
        }
        &-acvtive{
          background-color: rgba(255,255,255,1);
        }
      }
    }
  }
  &__buttons{
    @media all and (max-width: 500px){
      width: 100%;
    }
    .button{
      display: inline-flex;
      @media all and (max-width: 500px){
        width: 100%;
      }
    }
  }
}