.banner{
  &__container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  &__logo{
    position: absolute;
    width: 100%;
    bottom: 123px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    img{

    }
  }
  &__about{
    &-title{
      margin-bottom: 38px;
    }
    .banner__title{
      color: #15223D;
      font-size: 24px;
      font-weight: 500;
      line-height: 123.8%;
      letter-spacing: 0.48px;
      text-transform: none;
    }
    .banner__right{
      img{
        width: 100%;
        height: auto;
      }
    }
    .banner__left{
      padding-bottom: 250px;
    }
  }
  &__title{
    color: #15223D;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.8%;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-bottom: 37px;
    text-align: left;
  }
  &__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    svg{
      margin-bottom: 25px;
    }
  }
  &__subtitle{
    width: 100%;
    max-width: 570px;
  }
  &__prices{
    margin-top: 48px;
    &-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      &:last-child{
        margin-bottom: 0;
      }
      p{
        color: #15223D;
        font-size: 20px;
        font-weight: 500;
        line-height: 98.3%;
        letter-spacing: 0.4px;
        margin-bottom: 0;
      }
      span{
        color: #845472;
        font-size: 24px;
        font-weight: 600;
        line-height: 98.3%;
        letter-spacing: 0.48px;
      }
    }
  }
  &__right{
    width: 50%;
    padding-left: 15px;
    position: relative;
    overflow: hidden;
    .swiper-container{
      height: 100%;
    }
    .swiper-wrapper{
      height: 884px;
      max-height: 100vh;
    }
    .swiper-slide{
      height: 100%;
      img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__nav{
    position: absolute;
    bottom: 30px;
    left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    .banner__next, .banner__prev{
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }
    .swiper-pagination{
      display: flex;
      align-items: center;
      position: static;
      margin: 0 28px;
      &-bullet{
        background-color: rgba(255,255,255,0.5);
        margin-right: 15px;
        &:last-child{
          margin-right: 0;
        }
        &-acvtive{
          background-color: rgba(255,255,255,1);
        }
      }
    }
  }
  &__buttons{
    .button{
      display: inline-flex;
    }
  }
}