.footer{
  background-color: #FFFFFF;
  padding: 53px 0 32px 0;
  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__text{
    margin-top: 33px;
    display: none;
    *{
      color: #15223D;
      font-size: 14px;
      font-weight: 500;
      line-height: 141.8%;
      letter-spacing: 0.28px;
    }
    strong{
      font-weight: 700;
    }
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__title{
    color: #15223D;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.8%;
    letter-spacing: 0.48px;
  }
  &__socials{
    display: flex;
    align-items: center;
    margin-top: 19px;
    @media all and (max-width: 500px){
      justify-content: center;
    }
    a{
      text-decoration: none;
      display: inline-flex;
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__button{
    display: inline-flex;
    margin-top: 34px;
    @media all and (max-width: 500px){
      width: 100%;
      .button{
        width: 100%;
      }
    }
  }
  &__brend{
    width: calc(40% - 40px);
    @media all and (max-width: 1200px){
      width: 100%;
      order: 2;
      margin-top: 40px;
    }
    @media all and (max-width: 768px){
      margin-top: 0;
    }
    @media all and (max-width: 500px){
      text-align: center;
    }
  }
  &__nav{
    width: calc(60% - 40px);
    //display: flex;
    display: none;
    @media all and (max-width: 1200px){
      width: 100%;
      order: 1;
    }
    @media all and (max-width: 768px){
      flex-wrap: wrap;
      display: none;
    }
    &-list{
      width: 33.3333%;
      display: flex;
      flex-direction: column;
      padding-right: 20px;
      @media all and (max-width: 768px){
        &:first-child, &:nth-child(2){
          width: 50%;
        }
        &:nth-child(3){
          width: 100%;
          margin-top: 40px;
        }
      }
      @media all and (max-width: 500px){
        text-align: center;
        padding-right: 0;
        &:first-child, &:nth-child(2){
          width: 100%;
          margin-bottom: 40px;
        }
        &:nth-child(3){
          margin-top: 0;
        }
      }
    }
    &-name{
      color: #15223D;
      font-size: 20px;
      font-weight: 700;
      line-height: 98.3%;
      letter-spacing: 0.4px;
      margin-bottom: 33px;
      @media all and (max-width: 768px){
        margin-bottom: 20px;
      }
    }
    &-item{
      text-decoration: none;
      color: #15223D;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 141.8%;
      letter-spacing: 0.28px;
      display: inline-block;
      margin-bottom: 20px;
      @media all and (max-width: 768px){
        margin-bottom: 10px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__copyright{
    margin-top: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 1200px){
      order: 3;
    }
    @media all and (max-width: 768px){
      flex-direction: column;
      align-items: center;
      .left{
        margin-bottom: 20px;
      }
    }
    @media all and (max-width: 500px){
      text-align: center;
    }
    .left, a, span{
      color: #A9B3C0;
      font-size: 14px;
      font-weight: 400;
      line-height: 98.3%;
      letter-spacing: 0.28px;
      text-decoration: none;
      @media all and (max-width: 420px){
        font-size: 12px;
      }
    }
    span{
      margin: 0 10px;
      @media all and (max-width: 500px){
        margin: 0 5px;
      }
    }
  }
}