.header{
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 399;
  box-shadow: 0 4px 20px rgba(169, 190, 202, 0.3);
  &__mobile{
    position: fixed;
    right: 0;
    top: 60px;
    max-width: 500px;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #FFFFFF;
    padding: 30px 20px;
    text-align: center;
    z-index: 400;
    display: none;
    box-shadow: -4px 10px 20px rgba(169, 190, 202, 0.3);
    .header__button{
      margin-right: 0;
      height: auto;
      margin-top: 20px;
    }
    .frized {
      display: none!important;
    }
    .header__nav{
      display: inline-block;
      margin-left: 0;
      margin-bottom: 0;
    }
    .menu{
      flex-direction: column;
    }
    li, .header__nav li{
      margin-bottom: 0;
    }
    a, .header__nav li a{
      color: #15223d;
      font-size: 16px;
      font-weight: 500;
      line-height: 98.3%;
      letter-spacing: .4px;
      margin-bottom: 0;
      display: inline-block;

    }
    .services__group-title, .header__nav li a{
      color: #15223d;
      font-size: 20px;
      font-weight: 700;
      line-height: 98.3%;
      letter-spacing: .4px;
      margin-bottom: 18px;
      display: inline-block;
      margin-top: 20px;
      text-transform: uppercase;
    }
  }
  &__burger{
    display: none;
    padding: 0 15px;
    flex-direction: column;
    justify-content: center;
    background-color: #000125;
    height: 100%;
    cursor: pointer;
    &.active{
      span{
        &:nth-child(2){
          display: none;
        }
        &:nth-child(1){
          transform: rotate(-45deg) translateX(0) translateY(0);
        }
        &:nth-child(3){
          transform: rotate(45deg) translateX(-6px) translateY(-6px);
        }
      }
    }
    @media all and (max-width: 1024px){
      display: flex;
    }
    span{
      display: block;
      height: 2px;
      width: 30px;
      background-color: #FFFFFF;
      margin: 3px 0;
    }
  }
  &__container{
    display: flex;
    justify-content: center;
    min-height: 60px;
    z-index: 3;
  }
  &__left{
    //width: 50%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media all and (max-width: 1400px){
      width: auto;
      flex: 1;
      justify-content: flex-start;
    }
  }
  &__logo{
    display: flex;
    align-items: center;
    .mobile{
      display: none;
      z-index: 300;
      @media all and (max-width: 768px){
        display: inline-flex;
        align-items: center;
      }
      @media all and (max-width: 440px){
        width: 10vw;
      }
    }
    .desktop{
      @media all and (max-width: 768px){
        display: none;
      }
    }
  }
  &__nav{
    padding: 0 5px;
    @media all and (max-width: 1400px){
      margin-left: 40px;
    }
    @media all and (max-width: 1024px){
      display: none;
    }
    .frized{
      cursor: pointer;
      display: flex;
      align-items: center;
      &.frized-active{
        &:after{
          transform: rotate(-135deg);
          margin-top: 8px;
        }
      }
      &:after{
        margin-left: 8px;
        content: "";
        width: 8px;
        height: 8px;
        border-right: 1px solid #A9B3C0;
        border-bottom: 1px solid #A9B3C0;
        transform: rotate(45deg);
      }
    }
    &-absolute{
      position: fixed;
      top: -100vh;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #FFFFFF;
      box-shadow: 0 4px 20px rgba(169, 190, 202, 0.3);
      transition: 0.3s ease-in-out;
      z-index: 49;
      &.active{
        top: 60px;
      }
      .main-container{
        max-width: 944px;
        padding: 0;
      }
      .nav-content{
        display: flex;
        justify-content: space-between;
        .row{
          margin-bottom: 19px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        a{
          display: inline-block;
          text-decoration: none;
          color: #15223D;
          font-size: 14px;
          font-weight: 500;
          line-height: 141.8%;
          letter-spacing: 0.28px;
        }
        .left{
          width: calc(50% + 15px);
          column-count: 2;
          padding: 35px;
          background-color: rgba(21,34,61,0.1);
        }
        .right{
          width: calc(50% - 15px);
          padding: 35px;
          background-color: rgba(173,136,159,0.1);
        }
      }
      .nav-header{
        background-color: #E0E0EF;
        .main-container{
          display: flex;
          justify-content: space-between;
        }
        &-item{
          padding: 19px 35px;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 700;
          line-height: 98.3%;
          letter-spacing: 0.32px;
          a{
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 700;
            line-height: 98.3%;
            letter-spacing: 0.32px;
            text-decoration: none;
          }
          &:first-child{
            width: calc(50% + 15px);
            background-color: #15223D;
          }
          &:nth-child(2){
            width: calc(50% - 15px);
            background-color: #000125;
          }
        }
      }
    }
    ul{
      display: flex;
      align-items: center;
    }
    li{
      margin: 0 20px;
      @media all and (max-width: 1200px){
        margin: 0 10px;
      }
      &.desktop{
        //@media all and (min-width: 1025px){
        //  display: none;
        //}
      }
      a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: #15223D;
      }
    }
  }
  &__right{
    //width: 50%;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    @media all and (max-width: 1400px){
      width: auto;
    }
  }
  &__phone{
    flex: 1;
    @media all and (max-width: 1024px){
      //display: none;
    }
    a{
      color: #15223D;
      text-align: right;
      font-size: 20px;
      font-weight: 700;
      line-height: 98.3%;
      letter-spacing: 0.48px;
      text-decoration: none;
      @media all and (max-width: 1600px){
        font-size: 18px;
      }
      @media all and (max-width: 400px){
        font-size: 16px;
      }
    }
  }
  &__button{
    background-color: #000125;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    margin-right: 36px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    @media all and (max-width: 1600px){
      padding: 10px 30px;
    }
    @media all and (max-width: 1400px){
      display: none;
    }
    &:hover{
      background-color: #000125;
    }
    span{
      color: #FFF;
      text-align: right;
      font-size: 14px;
      font-weight: 600;
      line-height: 141.3%;
      letter-spacing: 0.28px;
      text-transform: uppercase;
    }
  }
  &__language{
    @media all and (max-width: 1400px){
      margin-left: 40px;
    }
    @media all and (max-width: 500px){
      margin-left: 20px;
    }
    @media all and (max-width: 400px){
      margin-left: 10px;
    }
    ul{
      display: flex;
      align-items: center;
    }
    .active{
      display: none;
    }
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background-color: #000125;
      text-decoration: none;
      transition: 0.3s ease-in-out;
      @media all and (max-width: 1024px){
        background-color: #FFFFFF;
      }
      &:hover{
        background-color: #000125;
        @media all and (max-width: 1024px){
          background-color: #FFFFFF;
        }
      }
      span{
        color: #FFF;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        @media all and (max-width: 1024px){
          color: #000125;
          font-size: 22px;
          &:hover{
            color: #000125;
          }
        }
      }
    }
  }
}