.history{
  padding-top: 82px;
  &__container{

  }
  &__title{
    color: #000225;
    font-size: 96px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 82px;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }
  &__item{
    width: calc(50% - 24px);
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    &:nth-child(even){
      flex-direction: column-reverse;
      justify-content: flex-end;
      margin-bottom: 0;
      .history__item-text{
        margin-top: 0;
        margin-bottom: 149px;
      }
    }
    &:nth-child(3n){
      width: 100%;
      flex-direction: row;
      gap: 48px;
      .history__item-video{
        width: calc(50% - 24px);
      }
      .history__item-text{
        width: calc(50% - 24px);
      }
    }
    &-text{
      margin-top: 42px;
    }
    &-procedure{
      color: #000225;
      font-size: 96px;
      font-weight: 400;
      line-height: 100%;
      margin-bottom: 0;
    }
    &-title{
      color: #000225;
      font-size: 48px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 24px;
    }
    &-desc{
      color: #15223D;
      font-size: 24px;
      font-weight: 400;
      line-height: 135%;
      letter-spacing: 0.48px;
      margin-bottom: 0;
    }
  }
}