.page-template-viniri{
  .procedure{
    background-color: transparent;
    margin: 0;
  }
}
.procedure{
  background-color: #F9F9FB;
  margin: 60px auto 60px auto;
  display: flex;
  align-items: center;
  @media all and (max-width: 1024px){
    margin: 40px auto 40px auto;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  &__image{
    display: flex;
    align-items: center;
    width: 42%;
    @media all and (max-width: 1200px){
      display: none;
    }
    @media all and (max-width: 768px){
      display: block;
      width: 100%;
    }
    img{
      width: 100%;
      height: auto;
      mix-blend-mode: multiply;
    }
  }

  &__container{
    padding-top: 82px;
    padding-bottom: 106px;
    width: 65%;
    @media all and (max-width: 1200px){
      width: 100%;
    }
    @media all and (max-width: 500px){
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &.procedure-move{
      padding-left: 100px;
      padding-top: 60px;
      padding-bottom: 63px;
      @media all and (max-width: 1200px){
        padding-left: 75px;
      }
      @media all and (max-width: 1024px){
        padding-left: 50px;
      }
      @media all and (max-width: 768px){
        padding-left: 35px;
      }
      @media all and (max-width: 500px){
        padding-left: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .procedure__title {
        @media all and (max-width: 768px){
          padding-left: 0;
        }
      }
      .procedure__list{
        padding-left: 0;
        margin-top: 60px;
        @media all and (max-width: 500px){
          margin-top: 40px;
        }
      }
      .procedure__item-header{
        font-weight: 500;
        font-size: 32px;
        line-height: 121%;
        letter-spacing: 0.02em;
        color: #000125;
        display: flex;
        flex-direction: column;
        @media all and (max-width: 1600px){
          font-size: 30px;
        }
        @media all and (max-width: 1440px){
          font-size: 28px;
        }
        @media all and (max-width: 1200px){
          font-size: 26px;
        }
        @media all and (max-width: 1024px){
          font-size: 24px;
        }
        @media all and (max-width: 768px){
          font-size: 22px;
        }
        @media all and (max-width: 500px){
          font-size: 18px;
        }
        span{
          font-weight: 300;
          font-size: 20px;
          line-height: 121%;
          letter-spacing: 0.02em;
          color: #000125;
          @media all and (max-width: 500px){
            font-size: 16px;
          }
        }
      }
    }
  }
  &__title{
    margin-bottom: 22px;
    //font-weight: 700;
    //font-size: 48px;
    //line-height: 124%;
    @media all and (max-width: 768px){
      padding-left: 35px;
    }
    @media all and (max-width: 500px){
      padding-left: 0;
    }
  }
  &__untitle{
    padding-left: 88px;
    @media all and (max-width: 1200px){
      padding-left: 75px;
    }
    @media all and (max-width: 1024px){
      padding-left: 50px;
    }
    @media all and (max-width: 768px){
      padding-left: 35px;
    }
    @media all and (max-width: 500px){
      padding-left: 11vw;
    }
  }
  &__subtitle{
    padding-left: 102px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #000125;
    margin-bottom: 42px;
    @media all and (max-width: 768px){
      padding-left: 35px;
    }
    @media all and (max-width: 500px){
      font-size: 16px;
      padding-left: 20px;
    }
  }
  &__list{
    padding-left: 88px;
    @media all and (max-width: 1200px){
      padding-left: 75px;
    }
    @media all and (max-width: 1024px){
      padding-left: 50px;
    }
    @media all and (max-width: 768px){
      padding-left: 35px;
    }
    @media all and (max-width: 500px){
      padding-left: 20px;
    }
  }
  &__item{
    padding-bottom: 24px;
    border-bottom: 1px solid #A9B3C0;
    margin-bottom: 24px;
    svg{
      transition: 0.1s;
    }
    &.active{
      svg{
        transform: rotate(-45deg);
      }
      .procedure__item-content{
        display: block;
      }
    }
    &-header{
      position: relative;
      font-weight: 500;
      font-size: 18px;
      line-height: 190%;
      color: #000125;
      @media all and (max-width: 500px){
        font-size: 16px;
      }
      svg{
        position: absolute;
        cursor: pointer;
        top: 8px;
        right: 0;
        @media all and (max-width: 1024px){
          top: 0;
        }
      }
    }
    &-content{
      display: none;
      padding-top: 10px;
      padding-right: 80px;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #000125;
    }
  }
  &__bottom{
    margin-top: 53px;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.02em;
    color: #000125;
    @media all and (max-width: 1024px){
      margin-top: 40px;
    }
    @media all and (max-width: 768px){
      margin-top: 30px;
    }
    @media all and (max-width: 500px){
      margin-top: 20px;
    }
  }
}