.services-animate{
  margin: 60px 0;
  @media all and (max-width: 1200px){
    margin-top: 0;
    margin-bottom: 80px;
  }
  &__container{

  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media all and (max-width: 1200px){
      flex-direction: column-reverse;
    }
  }
  &__block{
    width: calc(58.5% - 25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media all and (max-width: 1800px){

    }
    @media all and (max-width: 1440px){

    }
    @media all and (max-width: 1200px){
      width: 100%;
      margin-top: 40px;
    }
    @media all and (max-width: 1024px){

    }
    @media all and (max-width: 768px){

    }
    @media all and (max-width: 500px){

    }
  }
  &__title{
    margin-bottom: 56px;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media all and (max-width: 1024px){
      margin-right: 35px;
    }
    @media all and (max-width: 500px){
      margin-right: 20px;
    }
  }
  &__lnk{
    width: calc(50% - 27px);
    color: #15223D;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 98.3%;
    text-decoration: none;
    padding: 36px 0;
    border-bottom: 3px solid #F6F6F6;
    transition: 0.3s ease-in-out;
    &:hover{
      color: #845472;
      border-bottom: 3px solid #845472;
    }
    @media all and (max-width: 1024px){
      width: 100%;
      font-size: 24px;
    }
    @media all and (max-width: 768px){
      padding: 35px 0;
      font-size: 22px;
    }
    @media all and (max-width: 500px){
      padding: 20px 0;
      font-size: 20px;
    }
  }
  &__image{
    width: calc(41.5% - 25px);
    @media all and (max-width: 1200px){
      width: 100%;
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: none;
    }
  }
}