.team-new{
  margin: 57px 0 102px 0;
  &__container{

  }
  &__wrapper{

  }
  &__title{
    margin-bottom: 80px;
    @media all and (max-width: 1400px){
      margin-bottom: 70px;
    }
    @media all and (max-width: 1024px){
      margin-bottom: 60px;
    }
    @media all and (max-width: 768px){
      margin-bottom: 50px;
    }
    @media all and (max-width: 500px){
      margin-bottom: 40px;
    }
  }
  &__item{
    width: 380px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: -11px 45px 19px rgba(0, 0, 0, 0.01), -6px 25px 16px rgba(0, 0, 0, 0.05), -3px 11px 12px rgba(0, 0, 0, 0.09), -1px 3px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    position: relative;
    @media all and (max-width: 440px){
      width: 320px;
    }
    @media all and (max-width: 360px){
      width: 260px;
    }
  }
  &__person{
    //padding: 14px 23px 68px 23px;
    padding: 14px 23px 20px 23px;
  }
  &__name{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    @media all and (max-width: 440px){
      font-size: 18px;
    }
  }
  &__work{
    font-size: 14px;
    margin-bottom: 19px;
    @media all and (max-width: 440px){
      font-size: 12px;
    }
  }
  &__desc{
    font-size: 14px;
    margin-bottom: 8px;
    @media all and (max-width: 440px){
      font-size: 12px;
    }
  }
  &__rate{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 10px;
    color: #888888;
    position: absolute;
    bottom: 20px;
    right: 23px;
    .digit{
      margin-left: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      color: #888888;
      background: #FFFFFF;
      box-shadow: 0px 6px 2px rgba(122, 122, 122, 0.01), 0px 3px 2px rgba(122, 122, 122, 0.05), 0px 2px 2px rgba(122, 122, 122, 0.09), 0px 0px 1px rgba(122, 122, 122, 0.1);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      padding-top: 8px;
      span{
        font-size: 14px;
        color: #0042AA;
        line-height: 123.8%;
        margin-top: -8px;
        @media all and (max-width: 440px){
          font-size: 12px;
        }
      }
    }
  }
}