.team{
  &__container{

  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
  }
  &__title{
    margin-bottom: 40px;
  }
  &__item{
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 237px;
    @media all and (max-width: 1200px){
      height: 274px;
    }
    @media all and (max-width: 1024px){
      height: 210px;
    }
    @media all and (max-width: 768px){
      height: 290px;
    }
    @media all and (max-width: 600px){
      height: 240px;
    }
    @media all and (max-width: 500px){
      height: 200px;
    }
    &:nth-child(1){
      width: calc(30% - 20px);
      @media all and (max-width: 1200px){
        width: calc(40% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(45% - 20px);
      }
    }
    &:nth-child(2){
      width: calc(25% - 20px);
      @media all and (max-width: 1200px){
        width: calc(35% - 20px);
      }
      @media all and (max-width: 1024px){
        width: calc(30% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(55% - 20px);
      }
    }
    &:nth-child(3){
      width: calc(20% - 20px);
      @media all and (max-width: 1200px){
        width: calc(25% - 20px);
      }
      @media all and (max-width: 1024px){
        width: calc(30% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(50% - 20px);
      }
    }
    &:nth-child(4){
      width: calc(25% - 20px);
      @media all and (max-width: 1200px){
        width: calc(30% - 20px);
      }
      @media all and (max-width: 1024px){
        width: calc(30% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(50% - 20px);
      }
    }
    &:nth-child(5){
      width: calc(20% - 20px);
      @media all and (max-width: 1200px){
        width: calc(45% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(55% - 20px);
      }
    }
    &:nth-child(6){
      width: calc(25% - 20px);
      @media all and (max-width: 1200px){
        width: calc(25% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(45% - 20px);
      }
    }
    &:nth-child(7){
      width: calc(25% - 20px);
      @media all and (max-width: 1200px){
        width: calc(35% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(50% - 20px);
      }
    }
    &:nth-child(8){
      width: calc(30% - 20px);
      @media all and (max-width: 1200px){
        width: calc(30% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(50% - 20px);
      }
    }
    &:nth-child(9){
      width: calc(33.3333% - 20px);
      @media all and (max-width: 1200px){
        width: calc(33.3333% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(100% - 20px);
      }
    }
    &:nth-child(10){
      width: calc(33.3333% - 20px);
      @media all and (max-width: 1200px){
        width: calc(33.3333% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(50% - 20px);
      }
    }
    &:nth-child(11){
      width: calc(33.3333% - 20px);
      @media all and (max-width: 1200px){
        width: calc(33.3333% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(50% - 20px);
      }
    }
    &:nth-child(12){
      width: calc(20% - 20px);
      @media all and (max-width: 1200px){
        width: calc(50% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(50% - 20px);
      }
    }
    &:nth-child(13){
      width: calc(20% - 20px);
      @media all and (max-width: 1200px){
        width: calc(50% - 20px);
      }
      @media all and (max-width: 768px){
        width: calc(50% - 20px);
      }
    }
  }
  &__photo{
    height: 100%;
    position: relative;
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: linear-gradient(180deg,rgba(0,0,0,0) 46.38%,rgba(0,0,0,.2) 82.1%)
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: top;
    }
  }
  &__person{
    position: absolute;
    bottom: 15px;
    left: 20px;
    @media all and (max-width: 768px){
      bottom: 10px;
      left: 10px;
    }
  }
  &__name{
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 141.3%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    margin-bottom: 0;
    @media all and (max-width: 500px){
      font-size: 13px;
    }
  }
  &__work{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 141.3%;
    letter-spacing: 0.28px;
    @media all and (max-width: 768px){
      font-size: 13px;
    }
    @media all and (max-width: 500px){
      font-size: 12px;
    }
  }
}